<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud Node JSN - MySQL</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Daftar User/Pengguna</h1>
    <table border="1"> <tr></tr>
        <tr>ID</tr>
        <tr>Nama</tr>
        <tr>Email</tr>
        <tr>Telepon </tr>
        <tr>Aksi</tr>
    </tr>
    <% user.forEach(pengguna => {%>
    <tr>
        <td><%= pengguna.ID %></td>
        <td><%= pengguna.Nama %></td>
        <td><%= pengguna.Email %></td>
        <td><%= pengguna.Telepon %></td>
        <td>
            <a href="/edit/<%= pengguna.ID %>">Edit</a> |
            <a href="/delete/<%= pengguna.ID %>">Hapus</a> 
        </td>
    </tr>
    <% }) %>
    </table>

    <h2>Tambah pengguna baru</h2>
        <form action="/add" method="post">
            <div class="form-group">
                <label for="nama">Nama:</label>
                <input type="text" id="nama" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="phone">Telepon:</label>
                <input type="text" name="phone" id="phone" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Tambah</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>